<div class="d-flex align-items-center justify-content-center flex-column">
  <h1>Welcome to Scheduled tweets</h1>

  <div class="container">
    <% if Current.user %>
      Logged in as: <%= Current.user.email %>
    <% end %>
  </div>


</div>

